{% extends 'base.html.twig' %}
{% block title %}
Bienvenue sur le meilleur réseau d'appartements{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Bienvenue sur SymBNB</h1>
            <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter
                d'opportunités et gagner de l'argent en proposant leur bien à la location</p>
            <hr class="my-4">
            <p>Vous êtes voyageur et vous cherchez un logement ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir nos annonces</a>
            </p>
        </div>
        <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
        <div class="row">
            {%  for ad in ads %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ ad.rooms }} chambres, <strong>{{ ad.price }}€ / nuit</strong>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="{{ ad.coverImage }}" alt="Image de l'appart"
                         style="height:200px; width:100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('ads_show', {'slug': ad.slug}) }}">{{ ad.title }}</a>
                        </h4>
                        <p class="card-text">
                        <p>{{ ad.content }}</p>
                        </p>
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="title">Seb</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://loremflickr.com/64/64" alt="avatar de seb" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, corporis culpa
                                distinctio ducimus
                                ex fuga ipsum laborum laudantium modi nam odio officia pariatur provident, quaerat, quod
                                reiciendis sed
                                sint.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="title">Fred</h4>
                        <hr>
                        <div class="card-text">
                            <img src="https://loremflickr.com/64/64" alt="avatar de seb" class="float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, corporis culpa
                                distinctio ducimus
                                ex fuga ipsum laborum laudantium modi nam odio officia pariatur provident, quaerat, quod
                                reiciendis sed
                                sint.</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
